@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	background-color: #DFDFDF;
  line-height: 1.5em;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

nav{
  /*background-color: #fff;*/
  float: left;
  padding: 1em;

}

nav a{
  color: #333;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .25em;
  padding: .5em 1em;
  /*background: #5B86BF;*/
  display: inline-block;
}

main {
  background-color: #DFDFDF;
  width: 800px;
  margin: auto;
}

header{
    background-color: #FFFFFF;
    /*border: 1px black solid;*/
    padding: 20px;
    width: 400px;
    height: 500px;
    float: right;

}

h1 {
  line-height: 1.25em;
}

h2{
  font-weight: normal;
  font-size: 1em;
}

p{
  padding-top: 2em;
}

a {
	text-decoration: none;
	color: #5B86BF;
	text-transform: uppercase;
}

footer{
  background-color: #FFFFFF;
}

#navbar{
  /*background-color: white;*/
  width: 800px;
  margin: auto;
}

#portfoliogroup {
  width: 400px;
}

.clearfix:after{
  visibility: hidden;
  height: 0;
  font-size: 0;
  content:" ";
  display: block;
  clear:both;
}

.portfolio1{
  width: 400px;
  float: left;
}

.portfolio2{
  padding-top: 40px;
  width: 400px;
  float: right;
  background-color: white;
}

.portfolio3{
  width: 200px;
  float: left;
}

.portfolio4{
  width: 200px;
  float: right;
}

.portfolio5{
  width: 400px;
  float: right;
}

