@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

body {
  	text-align: center;
  	line-height: 1.5;
  	letter-spacing: 1px;
  	font-family: 'Lato', sans-serif;
  	font-size: 16px;
}

h1 {
  line-height: 1.25em;
}

p {
  font-family: 'Lora', serif;
}

h4 {
	font-weight: normal;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #fff8a7;
	text-transform: uppercase;
}

section{
  padding:1.5em 0;
}

#slogan {
	width: 600px;
	font-style: 900;
	margin: auto;
}

#about {
  width: 30em;
  margin: auto;
  text-align: left;
}

nav a{
  color: #fffaf0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .25em;
  padding: .5em 1em;
  background: #303673;
  display: inline-block;
}
