@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	background-color: #DFDFDF;
  line-height: 1.5em;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

nav{
  background-color: #E8C66A;
}

header{
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    width: 400px;
    height: 500px;
}

aside{
  width: 400px;
  background-color: #FFC675;
}

h1 {
  line-height: 1.25em;
}

h2{
  font-weight: normal;
  font-size: 1em;
}

p{
  padding-top: 2em;
}

a {
	text-decoration: none;
	color: #5B86BF;
	text-transform: uppercase;
}

nav a{
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .25em;
  padding: .5em 1em;
  background: #5B86BF;
  display: inline-block;
}

footer{
  background-color: #FF957E;
}

.wrapper{
  background-color: #FFFFFF;
  width: 800px;
  margin: auto;
}

#portfolio1{
  width: 400px;
  background-color: #E89C6C;
}

#portfolio3{
  width: 200px;
  background-color: #E89C9C;
}

#portfolio4{
  width: 200px;
  background-color: #333333;
}

#portfolio5{
  width: 400px;
  background-color: #444444;
}