body {
  	text-align: center;
  	line-height: 1.5;
  	letter-spacing: 1px;
  	background: url("../images/beachcoverimage.png");
  	background-color: #303673;
  	background-size: cover;
  	background-repeat: no-repeat;
  	color: white;
  	font-family: Helvetica;
}

h4 {
	font-weight: normal;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

h1 {
	line-height: 1.25;
}

#slogan {
	font-style: italic;
}

ul {
    text-align: center;
    list-style-type: none;
}